<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--Part 63 - step 2 - If the folder c:\logs does not exists need to create it-->
    <targets>
        <target name="allfile" xsi:type="File" 
				fileName="${basedir}\nlog-all-${shortdate}.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
    </rules>
</nlog>