@{
    ViewBag.title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>


<a asp-action="List" asp-controller="home" class="btn btn-outline-success" style="width:auto">
    Click here to navigate to home page
</a>